
body {
  // background: ;
  // background-image: url("../../img/abstract-carvern-003_1080x1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: rgb(249, 250, 0);
}

#logo-container {
background: #f9fa00;
transition: top 0.7s;
}

#menu {
  margin-left: auto;
}
.img {
  width: 100%;
}

.nav-link:hover {
  // background: #212121;
  border-radius: 20px;
  color: #ffffff;
}

hr {
  // border: .1rem;
  background: #ffffff;
  color: #ffffff;
  // border-color: #ebb617;
}

.mt-10 {
  margin-top: 8rem;
}

#menu-container {
  padding: 0;
}

#p-hover-instagram:hover {
  padding-left: 2.5rem;
  background: rgb(255, 255, 255);
}

#p-hover-facebook:hover {
  padding-left: 2.5rem;
  background: rgb(255, 255, 255);
}

.bungee {
  font-family: 'New Times Roman', cursive;
}

.hr-separator {
  border: 1px solid rgb(96, 96, 96);
  border-radius: 5px;
}

.rounded-right-pill {
    border-top-right-radius: 3rem!important;
    border-bottom-right-radius: 3rem!important;
}

.header {
  z-index: 1500;
}
